@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Berotec<br />
    <br />
    Berotec Stockholm<br />
    Bror Nilssons gata 16<br />
    417 55 Göteborg<br />    
    <abbr title="Phone">P:</abbr>
    0771-44 11 11<br />
    <br />
    Berotec Göteborg<br />
    Karlbergs Strand 4<br />
    171 73 Solna<br />
    <abbr title="Phone">P:</abbr>
    0771-44 11 11<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@berotec.se">Support@berotec.se</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@berotec.se">Marketing@berotec.se</a>
</address>