@{
    ViewBag.Title = "Home Page";
}

<div class="row CenterTextInMiddle">
    <div class="DivImage">        
        <img src="~/Content/images/Bakgrund4.jpg" alt="" />
        <h1 style="text-align:center"><span class="well">Välj applikation ur menyn ovan</span></h1>
    </div>        
</div>
