body {    
    padding-top: 50px;
    padding-bottom: 20px;
}


.center-text-block {
    margin-top: 1em;
    margin-left: 40em;
    margin-right: 40em;
    text-align: center;
    top: 50%;    
    opacity: 0.6;
    min-width: 200px;
    border-radius: 5px;    
}

.DivImage {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

.CenterTextInMiddle {
    text-align: center;
}

h1 {
    position: absolute;
    top: 300px;
    width: 100%;    
}

.navBarColor {
    background-color: #85af4b;
    color: #ffffff;    /* white */
}

.nav.navbar-nav li {
    color: lightgray;
}

.nav.navbar-nav li a {
    color: white;
}

.nav.navbar-nav a {
    color: white;
}

/*.navInColor .navbar-inner {
    color: white;
}*/

.navBrandColor .navbar-brand {
    color: white;
}
​
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
