body {    
    padding-top: 50px;
    padding-bottom: 20px;
}

/*.background-main {
    /*background-image: url("images/Bakgrund4.jpg");
    background-color: #f3f2d9;
    margin-top: 1em;
    height: 79em;
    border-radius: 5px;
}*/

/*div.image {
    content: url(images/Bakgrund4.jpg);
    z-index: -1;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}*/

.image {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    position: absolute;
    top: 200px;
    width: 100%;
    /*margin-right: auto;
    margin-left: auto;*/
}



/*.background-image {
    top: 1em;
    z-index: -1;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    position: relative;
}*/

div.image-test {
    position: relative;
}

​ .container-custom {
    /*margin-right: auto;
    margin-left: auto;*/
    max-width: 1600px; /* or 950px */
}

.center-text-block {
    margin-top: 1em;
    margin-left: 40em;
    margin-right: 40em;
    text-align: center;
    top: 50%;
    /*background-color: #ffffff;*/
    opacity: 0.6;
    min-width: 200px;
    border-radius: 5px;
    /*min-height: 100px;*/
    
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
