@model IEnumerable<BPDataSource.Activity>
@{
    ViewBag.Title = "Activty";
}

<div class="row">
    <div class="col-md-6 col-xs-8">
        <h3>Create Activity</h3>
        <p>Existing activities.</p>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Name</li>
            }
        </ul>
        @*<ul class="nav">
                <li class="active"><a asp-controller="Role" asp-action="Create">Create new role</a></li>
            </ul>*@
        <h4>@Html.ActionLink("Click to Create New Role", "Create", "Activity") </h4>
    </div>
</div>


