
@*@model IEnumerable<BPDataSource.Activity> // IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>*@

@model IEnumerable<BPDataSource.Activity>

@{
    ViewBag.Title = "Activity";
}

<div class="row">
    <div class="col-md-6 col-xs-8">
        <h3>Activity</h3>
        <p>Existing activities</p>
        <ul>
            @foreach (var item in Model)
            {
                <li class="active"><a asp-controller="App" asp-action="Activity">@item.Name</a></li>
            }
        </ul>
        @*<h4>@Html.ActionLink("Click to Create New Activity", "Create", "Activity") </h4>*@                

        <h4>@Html.ActionLink("Click to Create New Activity", "CreateActivity", "Activity") </h4>

    </div>
</div>


